<div id="photoshopContainer" class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <a class="thumbnail" ui-sref="battle">
            <img class="img-responsive darkToLight" src="img/project/battle.png" alt="">
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
        <a class="thumbnail" ui-sref="child">
            <img class="img-responsive darkToLight" src="img/project/child.png" alt="">
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
        <a class="thumbnail" ui-sref="olympia">
            <img class="img-responsive darkToLight" src="img/project/olympia.png" alt="">
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
        <a class="thumbnail" ui-sref="system">
            <img class="img-responsive darkToLight" src="img/project/system.png" alt="">
        </a>
    </div>
</div>