<!-- header images -->
<div class="row">
	<div class="col-lg-8">
		<img id="profileImg" src="img/about/profile.jpg" class="img-responsive" alt="">
	</div>
	<div class="col-lg-4">
		<br>
		<div class="row">
			<img src="img/about/about.png" class="img-responsive" alt="">
		</div><br>
		<div class="row">
			<img src="img/about/kk.jpg" class="img-responsive" alt="">
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-lg-4">
		<img src="img/about/fly.png" class="img-responsive" alt="">
	</div>
	<div class="col-lg-8">
		<h2>Hi, I'm Sarah Louise!</h2>
		<p>
			I've recently graduated from University of British Columbia as a computer engineer (UBC BASC'15). Throughout my undergraduate years at UBC, I've worked on both web and mobile development. I've used Javascript, PHP, SQL and C as my core languages. I've also used other languages such as C++, C#, R, VHDL and Apex.
			<br><br>
			Graphic designing is another interest of mine that I do on the side. I usually use Photoshop as my main tool but I have briefly used Illustrator as well. 
			<br><br>
			If you are interested in working together, you can contact me using the contact details below. 
		</p>
		<br><br>

		<div class="row">
			<div class="col-lg-1 col-lg-offset-2">
				<img src="img/about/email.png" class="img-responsive" alt="">
			</div>
			<div class="col-lg-9">
				<a href="mailto:slouiseleong@gmail.com">slouiseleong@gmail.com</a>
			</div>
		</div><br>
		
		<div class="row">
			<div class="col-lg-1 col-lg-offset-2">
				<img src="img/about/linkedin.png" class="img-responsive" alt="">
			</div>
			<div class="col-lg-9">
                <a href="https://ca.linkedin.com/in/sarahlouiseleong">ca.linkedin.com/in/sarahlouiseleong</a>
			</div>
		</div><br>
		
		<div class="row">
			<div class="col-lg-1 col-lg-offset-2">
				<img src="img/about/github.png" class="img-responsive" alt="">
			</div>
			<div class="col-lg-9">
                <a href="https://github.com/g4-SL">@g4-SL</a>
			</div>
		</div>
	</div>
</div>