<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/battle/p4.png" alt="">
</div>

<div class="row">
	<h1>Battle of the Ages</h1>
	<p class="narrowParagraph">
		Battle of the Ages is an Android battle card game that uses a NIOSII microprocessor to link multiplayers into one gameplay session. Together with three other students, we built this game under the guidance of Professor Thor during our ECE381 course.<br><br>

		To build Battle of the Ages, we had to planned and designed different aspect of the game such as multiplayer connectivity, audio playability through the NIOSII processor, event synchronization and android application programming. I contributed in managing audio playability and the front-end interface design which includes both programming and designing images.</p>
</div>
<br>

<div class="row">
	<div class="col-lg-6">
		<img class="img-responsive darkToLight" src="img/project/battle/p1.png" alt="">
	</div>
	<div class="col-lg-6">
		<img class="img-responsive darkToLight" src="img/project/battle/p2.png" alt="">
	</div>
</div>
<br>

<div class="row">
	<p class="narrowParagraph">Images were designed using Adobe Photoshop and the application is programmed using Eclipse and QuartusII. </p>
</div>
<br>

<div class="row">
	<img class="img-responsive darkToLight" src="img/project/battle/p3.png" alt="">
</div>