<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/olympia.png" alt="">
</div>

<div class="row">
	<h1>Olympia Prototype Design</h1>
	<p class="narrowParagraph">
		Olympia is a prototype mobile application that targets audiences who are keen on keeping themselves updated with the latest news on all ongoing Olympic events. Olympia is designed as an application with a simple and intuitive interface so that users can surf around the application without hindering their busy and active lifestyle. The application focuses more on user customization to deliver Olympic news that the user is interested in to better serve the user's purpose on using the application.<br><br>
		Together with four other students, Olympia was designed under guidance of Professor Sid Fels for ECE 418 (Human Computer Interfaces).
	</p>
</div>
<br>

<div class="row">
	<div class="col-lg-4">
		<img class="img-responsive darkToLight" src="img/project/olympia/p1.png" alt="">
	</div>
	<div class="col-lg-4">
		<img class="img-responsive darkToLight" src="img/project/olympia/p2.png" alt="">
	</div>
	<div class="col-lg-4">
		<img class="img-responsive darkToLight" src="img/project/olympia/p3.png" alt="">
	</div>
</div>
<br>

<div class="row">
	<p class="narrowParagraph">
		For the purpose of user customization on Olympia, the application will prompt the user to select their allegiance on their supported country, interested sports and athletes. The home screen of the application will display relevant Olympic news according to these selected choices. <br><br>
		Olympia offers user to check current medal count, schedule for upcoming Olympic events, live event updates, and a chatroom with other users. 
	</p>
</div>
<br>

<div class="row">
	<div class="col-lg-3">
		<img class="img-responsive darkToLight" src="img/project/olympia/p7.png" alt="">
	</div>
	<div class="col-lg-3">
		<img class="img-responsive darkToLight" src="img/project/olympia/p5.png" alt="">
	</div>
	<div class="col-lg-3">
		<img class="img-responsive darkToLight" src="img/project/olympia/p6.png" alt="">
	</div>
	<div class="col-lg-3">
		<img class="img-responsive darkToLight" src="img/project/olympia/p12.png" alt="">
	</div>
</div>
<br><br><br>

<div class="row">
    <iframe class="center-block" width="854" height="480" src="https://www.youtube.com/embed/kvFIM4trn3k" frameborder="0" allowfullscreen></iframe>
</div>