<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/child/p1.png" alt="">
</div>

<div class="row">
	<h1>Child First Reporting System</h1>
	<p class="narrowParagraph">
		Child First is a website that serves to improve the accessibility of reporting child abuse cases to the appropriate child protection services. Together with Kota Takaoka Reserach Lab, the website was built to give further support to professional social workers at Japan and Vancouver to simplify all child abuse reporting processes.  
		<br><br>
		The website includes a login system to separate both administrators and professional social workers accounts, a dual language support (English and Japanese), and a risk assessment sheet form that is to be submitted for any child abuse reports. 
		<br><br>
		During this project, I was responsible for designing and implementing the front-end interface and also linking the website to an external server for database storage. Child First is built using AngularJS (Javascript, HTML/CSS) and uses PHP as a communication language between the front-end and back-end.
		<br><br>
		The website is available <a href="http://capstonechildfirst.com">here</a>.
	</p>
</div>
<br><br>

<div class="row">
    <iframe class="center-block" width="854" height="480" src="https://www.youtube.com/embed/cdjCTCGJJTo" frameborder="0" allowfullscreen></iframe>
</div>
<br><br><br>

<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/child/p5.png" alt="">
</div>
<br>
<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/child/p6.png" alt="">
</div>
<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/child/p2.png" alt="">
</div>
<br>
<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/child/p3.png" alt="">
</div>
<br>
<div class="row">
	<img class="img-responsive darkToLight center-block" src="img/project/child/p4.png" alt="">
</div>