<div id="portfolioContainer" ng-controller="dialogCtrl">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="img/ps/thumbnail/gmjan.png" alt="">
<!--             <iframe width="560" height="315" src="https://www.youtube.com/embed/kvFIM4trn3k" frameborder="0" allowfullscreen></iframe> -->
        </div>
        <div class="col-lg-6">
            <h2>Olympia Prototype Design</h2>
            <p>Planned and outlined usability cases for a remote active participation application that is to be used during an Olympic season called the Olympia. Designed the framework of the application and built a medium-fidelity prototype using Ionic framework</p>
            <ul class="list-inline item-details">
                <li>Source Code:
                    <strong><a href="https://github.com/g4-SL/Python-Use-Pikachu">Github</a>
                    </strong>
                </li>
                <li>Date:
                    <strong>January 2015 - April 2015
                    </strong>
                </li>
                <li>Language/Tool:
                    <strong>Javascript, HTML/CSS, Ionic framework
                    </strong>
                </li>
<!--                         <li>Prototype:
                    <strong><a href="" ng-click="openPicDialog()">Click here</a>
                    </strong>
                </li> -->
            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="img/ps/thumbnail/gmjan.png" alt="">
<!--             <iframe width="560" height="315" src="https://www.youtube.com/embed/cdjCTCGJJTo" frameborder="0" allowfullscreen></iframe> -->
        </div>
        <div class="col-lg-6">
            <h2>Child First Reporting System</h2>
            <p>Worked closely with a team of student developers to design and construct a mobile application that improves the accessibility of reporting child abuse cases to the appropriate child protection services. Planned and discussed ideas for the design flow of the application to ease the social workers’ interview with the abused child and handling and retrieval of all cases. Implemented and designed the front end interface of the application using frameworks such as Phonegap, AngularJS and Bootstrap. Contributed as the team’s coordinator to delegate work among the team and communicate effectively with all developers to keep track with the progress of the project</p>
            <ul class="list-inline item-details">
                <li>Client:
                    <strong>Kota Takaoka Research Lab
                    </strong>
                </li>
                <li>Date:
                    <strong>September 2014 - April 2015
                    </strong>
                </li>
                <li>Language/Tool:
                    <strong>Javascript, HTML/CSS, AngularJS
                    </strong>
                </li>
                <li>Website:
                    <strong><a href="http://capstonechildfirst.com">capstonechildfirst.com</a>
                    </strong>
                </li>
            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <img src="img/nda.png" class="img-responsive" alt="">
        </div>
        <div class="col-lg-6">
            <h2>Penetration Testing on UBC Okanagan Athletics Database</h2>
            <p>Discussed and analyzed the security of UBC-O Athletics registration website with the system owner and developers. Performed security tests such as replay attack, SQL injection, cross-site scripting, command injection, session hijacking, and man-in-the-middle attack on the website to determine the level of security the website provides to all related stakeholders. Reported all findings to the system owner and brainstormed for possible security solutions based on the findings of the research</p>
            <ul class="list-inline item-details">
                <li>Client:
                    <strong>UBC Okanagan
                    </strong>
                </li>
                <li>Date:
                    <strong>September 2014 - December 2014</a>
                    </strong>
                </li>
            </ul>
        </div>
    </div>
</div>